<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>

    <%- include('partials/head') %>
  </head>
  <body class="hold-transition sidebar-mini sidebar-collapse">
    <div class="wrapper">
      <%- include('partials/header') %>
      <%- include('partials/menu') %>

        <%- include ('pages/404.ejs') %>

      <%- include('partials/footer') %>

      <%- include('partials/scripts') %>
    </div>
  </body>
</html>
