<%- include('partials/head') %>

<div class="wrapper">
  <%- include('partials/header') %> 
  <%- include('partials/menu') %> 


  <%- include('partials/footer') %> 

  <%- include('partials/scripts') %>
</div>
