<%- include('../partials/head') %>
<div class="wrapper">
  <%- include('../partials/header') %>
      <%- include('../partials/menu') %>

<div class="content-wrapper" style="min-height: 717px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Banner</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index">Inicio</a></li>
            <li class="breadcrumb-item active">Banner</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info card-outline">
            <div class="card-header">
              <button
                class="btn btn-primary btn-sm"
                data-toggle="modal"
                data-target="#crearBanner"
              >
                Crear nuevo banner
              </button>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
              <table
                class="table table-bordered table-striped dt-responsive tablaBanner"
                width="100%"
              >
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Banner</th>
                    <th style="width: 100px">Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  <% for (const banner of banners) { %>
                    <tr>
                      <td><%= banner.id %></td>
                      <td>
                        <img src="<%= banner.img %>" class="img-fluid" style="width:720px; height: 390px;" />
                      </td>
                      <td>
                        <button class="btn btn-warning btn-sm editarBtn" data-toggle="modal" data-target="#editarBanner<%= banner.id %>" data-id="<%= banner.id %>">
                          <i class="fas fa-pencil-alt text-white"></i>
                      </button>
                                    
                        <button class="btn btn-danger btn-sm eliminarBtn" data-toggle="modal" data-target="#eliminarBanner<%= banner.id %>" data-id="<%= banner.id %>">
                          <i class="fas fa-trash-alt"></i>
                      </button>
                                                                
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<%- include('../partials/footer') %>
</div>

<!--=====================================
Modal Crear Banner
======================================-->

<div class="modal" id="crearBanner">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/banner">
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Crear Banner</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group my-2">
            <input
              type="text"
              class="form-control border"
              name="img"
              placeholder="URL PIC"
              required
            />

            <p class="help-block small">
              Dimensiones: 1440px * 780px
            </p>

            <img class="previsualizarBanner img-fluid" src="" />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--=====================================
Modal Editar Banner
======================================-->


<% for (const banner of banners) { %>
  <div class="modal" id="editarBanner<%= banner.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/banner/<%= banner.id %>">
          <div class="modal-header bg-info">
            <h4 class="modal-title">Editar Banner</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="_method" value="put" />
            
            <div class="form-group my-2">

              <input
              type="text"
              class="form-control border"
              name="img"
              placeholder="URL PIC"
              required
            />

              <input type="hidden" name="adminActual" />

              <p class="help-block small">
                Dimensiones: 1440px * 600px
              </p>

              <img class="previsualizarAdmin img-fluid" src="<%= banner.img %>" />
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer d-flex justify-content-between">
            <div>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cerrar
              </button>
            </div>

            <div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
<% } %>

<!-- eleminar -->
<% for (const banner of banners) { %>
  <div class="modal" id="eliminarBanner<%= banner.id %>">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                  <h4 class="modal-title">Eliminar Banner</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <p>¿Está seguro de que desea eliminar al Banner <%= banner.name %>?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <form method="post" action="/banner/delete/<%= banner.id %>">
                      <input type="hidden" name="_method" value="delete">
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <% } %>