<%- include('../partials/header') %>
<%- include('../partials/head') %>
<%- include('../partials/menu') %>



<div class="content-wrapper" style="min-height: 717px">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Plan</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index">Inicio</a></li>
            <li class="breadcrumb-item active">Plan</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <!-- Default box -->
          <div class="card card-info card-outline">
            <div class="card-header">
              <button
              class="btn btn-primary btn-sm"
              data-toggle="modal"
              data-target="#crearPlan"
            >
              Crear nuevo plan
            </button>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
              <table
                class="table table-bordered table-striped dt-responsive tablaBanner"
                width="100%"
              >
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Tipo</th>
                    <th>Description</th>
                    <th>Img</th>
                    <th>Fecha</th>
                    <th style="width: 100px">Acciones</th>
                  </tr>
                </thead>

                <tbody>
                  <% for (const plan of plans) { %>
                    <tr>
                      <td><%= plan.id %></td>
                      <td><%= plan.kind %></td>
                      <td><%= plan.description %></td>  
                      <td>
                        <div>
                          
                                <img src="<%= plan.img %>" class="img-fluid" style="margin-top: 20px; margin-right: 20px; border-radius: 100em; display: inline-block;">
                           
                        </div>
                    </td>      
                      <td><%= plan.date %></td>
                      <td>

                        <button class="btn btn-warning btn-sm editarBtn" data-toggle="modal" data-target="#editarPlan" data-id="<%= plan.id %>">
                          <i class="fas fa-pencil-alt text-white"></i>
                      </button>
                                   
                      <button class="btn btn-danger btn-sm eliminarBtn" data-toggle="modal" data-target="#eliminarPlan<%= plan.id %>" data-id="<%= plan.id %>">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                      
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!--=====================================
Modal Crear Plan
======================================-->

<div class="modal" id="crearPlan">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post">
        <div class="modal-header bg-info">
          <h4 class="modal-title">Crear Plan</h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <!-- input estilo -->

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-user"></span>
            </div>

            <input
                type="text"
                class="form-control"
                name="kind"
                placeholder="ESTILO"
                required
              />
            </div>
  
               <!-- input tipo -->
  
               <div class="input-group mb-3">
                  <div class="input-group-append input-group-text">
                    <span class="fas fa-user-lock"></span>
                  </div>
                  <input
                  type="number"
                  min="0"
                  step="any"
                  class="form-control"
                  name="high_price"
                  placeholder="Precio temporada alta"
                  required
                />
              </div>
              
              <div class="input-group mb-3">
                <div class="input-group-append input-group-text">
                  <span class="fas fa-dollar-sign"></span>
                </div>
              
                <input
                  type="number"
                  min="0"
                  step="any"
                  class="form-control"
                  name="low_price"
                  placeholder="Precio temporada baja"
                  required
                />
                </div>
            
  
            <!-- input gallery -->
  
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-user-lock"></span>
              </div>
              <input
              type="text"
              class="form-control"
              name="img"
              placeholder="URL POR FOTO"
              required
            />
            
  
            <!-- input description -->
  
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-user-lock"></span>
              </div>
              <input
                type="text"
                class="form-control"
                name="description"
                placeholder="description"
                required
              />
          </div>
 


        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--=====================================
Modal Editar Plan
======================================-->
<% for (const plan of plans) { %>
  <div class="modal" id="editarPlan">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="post" action="/plan/<%= plan.id %>">
          <div class="modal-header bg-info">
            <h4 class="modal-title">Editar Plan</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <input type="hidden" name="_method" value="put" />
            
            <div class="form-group my-2">

            <!-- input estilo -->
  
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-user"></span>
              </div>
  
              <input
                type="text"
                class="form-control"
                name="kind"
                placeholder="ESTILO"
                required
              />
            </div>
  
               <!-- input tipo -->
  
               <div class="input-group mb-3">
                  <div class="input-group-append input-group-text">
                    <span class="fas fa-dollar-sign"></span>
                  </div>
                  <input
                  type="number"
                  min="0"
                  step="any"
                  class="form-control"
                  name="hight_price"
                  placeholder="Precio temporada alta"
                  required
                />
              </div>
              
              <div class="input-group mb-3">
                <div class="input-group-append input-group-text">
                  <span class="fas fa-dollar-sign"></span>
                </div>
              
                <input
                  type="number"
                  min="0"
                  step="any"
                  class="form-control"
                  name="low_price"
                  placeholder="Precio temporada baja"
                  required
                />
                </div>
            
  
            <!-- input gallery -->
  
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-user-lock"></span>
              </div>
              <input
              type="text"
              class="form-control"
              name="img"
              placeholder="URL POR FOTO"
              required
            />
            
  
            <!-- input description -->
  
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-user-lock"></span>
              </div>
              <input
                type="text"
                class="form-control"
                name="description"
                placeholder="description"
                required
              />
            </div>

          <div class="modal-footer d-flex justify-content-between">
            <div>
              <button type="button" class="btn btn-danger" data-dismiss="modal">
                Cerrar
              </button>
            </div>
            <div>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <% } %>




<!-- eleminar -->
<% for (const plan of plans) { %>
  <div class="modal" id="eliminarPlan<%= plan.id %>">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header bg-danger text-white">
                  <h4 class="modal-title">Eliminar Plan</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                  <p>¿Está seguro de que desea eliminar al plan <%= plan.kind %>?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <form method="post" action="/plan/delete/<%= plan.id %>">
                      <input type="hidden" name="_method" value="delete">
                      <button type="submit" class="btn btn-danger">Eliminar</button>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <% } %>