<%- include('../partials/head') %>
<div class="wrapper">
  <%- include('../partials/header') %>
      <%- include('../partials/menu') %>

<div class="content-wrapper" style="min-height: 717px">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Gestor Restaurante</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="index">Inicio</a></li>
            <li class="breadcrumb-item active">Gestor Restaurante</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="card card-primary card-outline">
      <div class="card-header pl-2 pl-sm-3">
        <button
          class="btn btn-primary btn-sm"
          data-toggle="modal"
          data-target="#crearRestaurante"
        >
          Crear nuevo plato de restaurante
        </button>
      </div>

      <div class="card-body">
        <table
          class="table table-bordered table-striped dt-responsive tablaRestaurante"
          width="100%"
        >
          <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Imagen</th>
              <th>Descripción</th>
              <th style="width: 100px">Acciones</th>
            </tr>
          </thead>

          <tbody>
            <!--  <tr>
              
              <td>1</td>
               
              <td>
                 <img src="vistas/img/restaurante/plato01.png" class="img-fluid rounded-circle" width="100px">
              </td> 

              <td>
                Lorem ipsum dolor sit amet consectetur.
              </td> 
  
              <td>
                <button class="btn btn-warning btn-sm"><i class="fas fa-pencil-alt text-white"></i></button>  
                <button class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>  
              </td>

            </tr> -->
            <% for (const restaurant of getRestaurants) { %>
              <tr>
                <td><%= restaurant.id %></td>
                <td><img src="<%= restaurant.img %>" alt="<%= restaurant.id %>" class="img-fluid"></td>
                <td><%= restaurant.description %></td>
                <td>
                  <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarRestaurante" data-id="<%= restaurant.id %>"><i class="fas fa-pencil-alt text-white"></i></button>  
                  <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete<%= restaurant.id %>" data-id="<%= restaurant.id %>"><i class="fas fa-trash-alt"></i></button>
                </td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <!-- /.card -->
  </section>
  <!-- /.content -->
</div>
<%- include('../partials/footer') %>
</div>

<!--=====================================
Modal Crear Restaurante
======================================-->

<div class="modal" id="crearRestaurante">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post">
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Crear Restaurante</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-paperclip"></span>
              </div>
  
              <input
                type="text"
                class="form-control"
                name="img"
                placeholder="Ingresa la url de la imagen"
                required
              />
            </div>
          </div>

          <div class="input-group mb-3">
            <textarea
              class="form-control"
              maxlength="40"
              name="description"
              placeholder="Ingresa la descripción del Plato"
              required
            ></textarea>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--=====================================
Modal Editar Restaurante
======================================-->

<% for (const restaurant of getRestaurants) { %>
<div class="modal" id="editarRestaurante">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/restaurant/<%= restaurant.id %>">
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Editar Restaurante</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <input type="hidden" name="_method" value="put" />

          <div class="form-group">
            <div class="input-group mb-3">
              <div class="input-group-append input-group-text">
                <span class="fas fa-paperclip"></span>
              </div>
  
              <input
                type="text"
                class="form-control"
                name="img"
                value="<%= restaurant.img %>"
                required
              />
            </div>
          </div>

          <div class="input-group mb-3">
            <textarea
              class="form-control"
              maxlength="40"
              name="description"
              required
            ><%= restaurant.description %></textarea>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<% } %>

<!--=====================================
Eliminar Recorrido
======================================-->

<% for (const restaurant of getRestaurants) { %>
  <div class="modal" id="delete<%= restaurant.id %>">
      <div class="modal-dialog">
          <div class="modal-content">
            <form method="post" action="/restaurant/delete/<%= restaurant.id %>">
            <!-- Modal header -->
              <div class="modal-header bg-danger text-white">
                  <h4 class="modal-title">Eliminar Restaurante</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <input type="hidden" name="_method" value="delete">
                  <p>¿Está seguro de que desea eliminar el restaurante <%= restaurant.id %>?</p>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  <% } %>
