<%- include('../partials/head') %>
<div class="wrapper">
  <%- include('../partials/header') %>
      <%- include('../partials/menu') %>

  <div class="content-wrapper" style="min-height: 717px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Gestor Servicios</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="index">Inicio</a></li>
              <li class="breadcrumb-item active">Gestor Servicios</li>
            </ol>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="card card-primary card-outline">
        <div class="card-header pl-2 pl-sm-3">
          <button
            class="btn btn-primary btn-sm"
            data-toggle="modal"
            data-target="#crearServicio"
          >
            Crear nuevo servicio
          </button>
        </div>

        <div class="card-body">
          <table
            class="table table-bordered table-striped dt-responsive tablaRecorrido"
            width="100%"
          >
            <thead>
              <tr>
                <th style="width: 10px">#</th>
                <th>Título</th>
                <th>Descripción</th>
                <th>Foto Grande</th>
                <th>Foto Pequeña</th>
                <th style="width: 100px">Acciones</th>
              </tr>
            </thead>

            <tbody>
              <% for (const service of services) { %>
                <tr>
                  <td><%= service.id %></td>
                  <td><%= service.title %></td>
                  <td><%= service.description %></td>
                  <td><img src="<%= service.big_photo %>" alt="<%= service.title %> grande" class="img-fluid"></td>
                  <td><img src="<%= service.photo_small %>" alt="<%= service.title %> pequeño" class="img-fluid"></td>
                  <td>
                    <button class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editarServicio" data-id="<%= service.id %>"><i class="fas fa-pencil-alt text-white"></i></button>
                    <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delete<%= service.id %>" data-id="<%= service.id %>"><i class="fas fa-trash-alt"></i></button>  
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card -->
    </section>
    <!-- /.content -->
  </div>
  <%- include('../partials/footer') %>
</div>

<!--=====================================
Modal Crear Recorrido
======================================-->

<div class="modal" id="crearServicio">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post">
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Crear Servicio</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-concierge-bell"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Ingresa el título del servicio"
              required
            />
          </div>

          <div class="input-group mb-3">
            <textarea
              class="form-control"
              maxlength="220"
              name="description"
              placeholder="Ingresa la descripción del servicio"
              required
            ></textarea>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-paperclip"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="photo_small"
              placeholder="Ingresa la url de la imagen pequeña"
              required
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-paperclip"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="big_photo"
              placeholder="Ingresa la url de la imagen grande"
              required
            />
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!--=====================================
Modal Editar Recorrido
======================================-->

<% for (const service of services) { %>
<div class="modal" id="editarServicio">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="/service/<%= service.id %>">
        <!-- Modal Header -->
        <div class="modal-header bg-info">
          <h4 class="modal-title">Editar Servicio</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <input type="hidden" name="_method" value="put" />

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-suitcase-rolling"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="title"
              value="<%= service.title %>"
              required
            />
          </div>

          <div class="input-group mb-3">
            <textarea
              class="form-control"
              maxlength="220"
              name="description"
              required
            ><%= service.description %></textarea>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-paperclip"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="photo_small"
              value="<%= service.photo_small %>"
              required
            />
          </div>

          <div class="input-group mb-3">
            <div class="input-group-append input-group-text">
              <span class="fas fa-paperclip"></span>
            </div>

            <input
              type="text"
              class="form-control"
              name="big_photo"
              value="<%= service.big_photo %>"
              required
            />
          </div>


        </div>

        <!-- Modal footer -->
        <div class="modal-footer d-flex justify-content-between">
          <div>
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              Cerrar
            </button>
          </div>

          <div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<% } %>

<!--=====================================
Eliminar Recorrido
======================================-->

<% for (const service of services) { %>
  <div class="modal" id="delete<%= service.id %>">
      <div class="modal-dialog">
          <div class="modal-content">
            <form method="post" action="/service/delete/<%= service.id %>">
            <!-- Modal header -->
              <div class="modal-header bg-danger text-white">
                  <h4 class="modal-title">Eliminar Servicio</h4>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <!-- Modal body -->
              <div class="modal-body">
                <input type="hidden" name="_method" value="delete">
                  <p>¿Está seguro de que desea eliminar el servicio <b><%= service.title %></b>?</p>
              </div>
              <!-- Modal footer -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                  <button type="submit" class="btn btn-danger">Eliminar</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  <% } %>
