<%- include('../partials/head') %>
<div class="wrapper">
  <%- include('../partials/header') %>
      <%- include('../partials/menu') %>

      <div class="content-wrapper" style="min-height: 717px">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1>Gestor Usuarios</h1>
              </div>
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="index">Inicio</a></li>
                  <li class="breadcrumb-item active">Gestor Usuarios</li>
                </ol>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="card card-primary card-outline">
            <div class="card-body">
              <table class="table table-bordered table-striped dt-responsive tablaUsuarios" width="100%">
                <thead>
                  <tr>
                    <th style="width: 10px">#</th>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <!-- <th>Reservas</th>
                    <th>Testimonios</th> -->
                    <th>Estado</th>
                  </tr>
                </thead>

                <tbody>
                  <% for (const user of users) { %>
                    <tr>
                      <td><%= user.id %></td>
                      <td><%= user.photo %></td>
                      <td><%= user.name %></td>
                      <td><%= user.email %></td>
                      <!-- <td>1</td>
                      <td>1</td> -->
                      <td>
                        <form action="/users/api/ban/<%= user.id %>" method="POST">
                          <% if (user.status) { %>
                            <button class="btn btn-success btn-sm" type="submit">
                              Activo <i class="fas fa-user-check text-white"></i>
                            </button>
                            <% } else { %>
                            <button class="btn btn-dark btn-sm" type="submit">
                              Inactivo <i class="fas fa-user-slash text-white"></i>
                            </button>
                            <% } %>
                        </form>
                      </td>
                    </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card -->
        </section>
        <!-- /.content -->
      </div>
      <%- include('../partials/footer') %>
    </div>